<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">{% t content.about %}</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">{% t content.features %}</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">{% t content.contact %}</a>
          </li>
          <li>
            <a href="/faq">{% t content.faq %}</a>
          </li>
          <li>
            <a href="/privacy">{% t content.privacy %}</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Swalloworks Studio All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>