.intro-header {
  color: #f8f8f8;
  background: url(../img/app-intro-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 560px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.intro-divider {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content-section {
  padding: 50px 0;
}

.content-section:nth-child(even) {
  background-color: #f8f8f8;
}

.content-section:nth-child(odd) {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.section-heading {
  margin-bottom: 30px;
}
