.container-section>.container[id]::before {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
  content: "";
}

.swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.intro-swiper .swiper-slide {
  background-position: center;
  background-size: auto 100%;
  width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-swiper .swiper-slide img {
  display: block;
  height: 100%;
  width: auto;
}

/* 侧边遮罩 */
/* .swiper::before,
.swiper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
}

.swiper::before {
  left: 0;
}

.swiper::after {
  right: 0;
} */

/* END 侧边遮罩 */

.news-swiper .card {
  width: 15rem;
}

.news-swiper .card-text {
  min-height: 80px;
}

.support-swiper img {
  height: 80px;
}

@media (min-width: 768px) {
  .intro-swiper .swiper-slide {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .intro-swiper .swiper-slide {
    height: 580px;
  }
}