.navbar.bg-dark {
  --bs-bg-opacity: 0 !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  /* remove the gap so it doesn't close */
  margin-top: 0;
}

.container-section>.container[id]::before {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
  content: "";
}

.app-bg-purple {
  background-color: #650ecd;
}

.app-bg-red {
  background-color: #ff0066;
}

.app-bg-red-dark {
  background-color: #801f4f;
}

.first-container {
  margin-top: -49px;
  min-height: 5rem;
}

.swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.intro-swiper .swiper-slide {
  background-position: center;
  background-size: auto 100%;
  width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-swiper .swiper-slide img {
  display: block;
  height: auto;
  width: 100%;
}

#va .card,
#design .card {
  width: 25rem;
}

#va .card-text {
  min-height: 80px;
}

@media (min-width: 768px) {
  .intro-swiper .swiper-slide {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .intro-swiper .swiper-slide {
    height: 580px;
  }
}